{% extends 'base.html' %}
{% include 'header.html' %}
{% block body %}
<p class="text-center display-4">Add Todo</p>
<form method="POST" action="#">
<div class="row justify-content-center align-items-center">
    <div class="mb-3">
        <label class="form-label">Text</label>
        <input class="form-control" name="content" />
    </div>
    <div class="mb-3 text-center">
        <button class = 'btn btn-success'>Add Todo</button>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
</div>
</form>
{% endblock %}